.gwt-TabLayoutPanel {
	position:absolute;
	margin:auto;
	border: none;
	top:0; 
	left:0;
	bottom:0;
	right:0;
	background-color: #E0E0E0;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	font-size: 1em;
	text-align: center;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	background-color: white !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	border: none;
	background: #E0E0E0;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	background-color: #E0E0E0 !important;
}

.signInPlacement {
	margin: 0px 0px 0px 30px;
}

.pillBugLogo {
	top: 50%;
	left: 50%;
	margin: 160px 0px 0px 0px;
}

.divider {
	top: 50%;
	left: 50%;
	margin: 90px 0px 0px 20px;
}

.signInPasswordTextBoxes {
	margin: 150px 0px 0px 30px;
}

.showPassword {
	top: 50%;
	left: 50%;
	margin: 0px 0px 0px -3px;
}